/* styles/global.css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
/* @import './base.css'; */
@import "tailwindcss/utilities";

.main {
  background-color: #1e0342;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: 750;
  position: relative;
}

.app {
  color: #e1f7f5;
}

.container {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--rounded-box, 1rem);
}

.card-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: var(--padding-card, 2rem);
    gap: .5rem;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-start{
    justify-content: flex-start;
}

.navbar-center{
    flex-shrink: 0;
}

.navbar-end{
    width: 50%;
    justify-content: flex-end;
}
